<h1 class="page-header">Recently Added</h1>
<div>
    <% books.forEach(element=>{ %>
    <a href="/books/<%=element.id%>"> <img height="150" width="100" src="<%=element.coverImagePath%>" alt="<%=element.title%>"></a>
    <% }); %>
</div>